@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd-MediumItalic.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/CircularStd-BookItalic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/CircularStd-Book.ttf');
  font-weight: normal;
  font-style: normal;
}
$themeColor: #ff1001;
$textColor: #807f7f;
$normalFontFamily: 'Circular Std Book';
$boldFontFamily: 'Circular Std';
body {
  font-size: 16px;
  line-height: 26px;
  color: #807f7f;
  font-family: $normalFontFamily;
  background: #1e1e1e;
  a {
    text-decoration: none;
    color: #fff;
    transition: all 0.4s ease-in-out 0s;
    font-family: $normalFontFamily;
    &:hover {
      color: $themeColor;
      text-decoration: none;
    }
  }
  button,
  input {
    transition: all 0.4s ease-in-out 0s;
    &:focus {
      outline: none;
    }
  }
  ul {
    margin: 0 !important;
    padding: 0;
    list-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $boldFontFamily;
    margin-top: 0;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 0;
  }
  img {
    max-width: 100%;
  }
  .container {
    @media (min-width: 1400px) {
      max-width: 1360px;
    }
  }
}
.mb-20 {
  margin-bottom: 20px;
}
// header-area start
.header-area {
  position: relative;
  z-index: 11;
}
.header-top-area {
  background: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  padding: 0px 20px;
  @media (max-width: 767px) {
    padding: 15px 20px;
  }
}
.header-logo {
  display: block;
  color: #fff;
  letter-spacing: 0.2em;
  @media (max-width: 991px) {
    text-align: center;
    margin-bottom: 5px;
  }
}
.header-top-menu {
  @media (max-width: 767px) {
    justify-content: center !important;
  }
  li {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: inline-block;
      font-size: 14px;
      &.active {
        color: $themeColor;
      }
    }
  }
}
.header-bottom-area {
  padding: 30px 0px 0px;
  .logo {
    display: block;
  }
}
.mainmenu {
  li {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-size: 14px;
      letter-spacing: 0.1em;
      display: inline-block;
      &.active {
        color: $themeColor;
      }
    }
  }
}
.login-header {
  li {
    a {
      margin-right: 25px;
      font-size: 14px;
      letter-spacing: 0.1em;
      display: inline-block;
      &.active {
        color: $themeColor;
      }
      @media (max-width: 767px) {
        margin-right: 15px;
        font-size: 12px;
      }
    }
    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }
}
.login {
  min-height: 40px;
  min-width: 100px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  background: linear-gradient(90deg, #ff4d00 0%, #ffa178 100%);
  border-radius: 5px;
  line-height: 24px;
  margin-right: 0 !important;
  @media (max-width: 767px) {
    min-height: 30px;
    min-width: 80px;
    padding: 5px 10px;
  }
  &:hover {
    background: linear-gradient(90deg, #ffa178 0%, #ff4d00 100%);
    color: #fff;
  }
}

// hero-area start
.theme-color {
  color: $themeColor !important;
}
.text-color {
  color: $textColor !important;
}
.theme-color-red {
  color: #ff0515;
}
.hero-area {
  padding: 110px 0px 135px;
  position: relative;
  z-index: 1;
  .hero-shape1 {
    position: absolute;
    left: 0;
    top: -70px;
    width: 100%;
    z-index: -1;
  }
  .hero-shape2 {
    position: absolute;
    right: 0;
    bottom: 40px;
    z-index: -1;
  }
}
.btn-style {
  min-height: 50px;
  min-width: 160px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #7d29fe 0.01%, #32f1ff 100.01%);
  color: #fff;
  border: none;
  @media (max-width: 767px) {
    min-width: 130px;
  }
  &:hover {
    color: #fff;
    background: linear-gradient(90deg, #32f1ff 0.01%, #7d29fe 100.01%);
  }
  &.btn-border {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(90deg, #ff4d00 0%, #ffa178 100%);
    border-radius: 5px;
    background: transparent;
    background: linear-gradient(90deg, #ff4d00 0%, #ffa178 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.hero-content {
  text-align: center;
  .label {
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-size: 28px;
    display: block;
    margin-bottom: 30px;
    @media (max-width: 1200px) {
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  .title {
    font-weight: 500;
    font-size: 70px;
    line-height: 89px;
    color: #fff;
    margin-bottom: 25px;
    @media (max-width: 1200px) {
      font-size: 50px;
      line-height: 55px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
    }
    span {
      display: inline-block;
    }
  }
  p {
    max-width: 70%;
    margin: 0px auto 70px;
    @media (max-width: 1200px) {
      margin-bottom: 50px;
      max-width: 80%;
    }
    @media (max-width: 767px) {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
}
.hero-btns {
  margin-bottom: 0 !important;
  li {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

// about-area start
.about-area {
  position: relative;
  z-index: 1;
}
.about-content {
  padding-left: 30px;
  @media (max-width: 991px) {
    padding-left: 0;
    margin-top: 35px;
  }
  .title {
    font-weight: 500;
    font-size: 50px;
    line-height: 55px;
    color: #fff;
    margin-bottom: 25px;
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
    }
    span {
      color: #646bfe;
    }
  }
  .subtitle {
    font-size: 30px;
    line-height: 38px;
    color: #7a7a7a;
    margin-bottom: 30px;
    @media (max-width: 1200px) {
      font-size: 24px;
      line-height: 30px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 25px;
    }
  }
  .description {
    font-size: 20px;
    line-height: 30px;
    color: #7a7a7a;
    @media (max-width: 1200px) {
      font-size: 18px;
      line-height: 24px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 23px;
    }
  }
}

// service start
.service-area {
  padding: 100px 0px 100px;
  position: relative;
  .service-shape {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: -1;
    width: 100%;
  }
}
.section-title {
  text-align: center;
  margin-bottom: 60px;
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 5px;
    color: #fff;
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
    }
    span {
      color: #646bfe;
    }
  }
  .description {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
    @media (max-width: 767px) {
      font-size: 17px;
    }
  }
}
.service-wrap {
  padding: 35px 25px;
  background: #242424;
  border-radius: 5px;
  text-align: center;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  .icon {
    height: 70px;
    width: 70px;
    object-fit: contain;
    margin: 0px auto 15px;
  }
  .title {
    color: #bebebe;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 10px 0 15px;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  p {
    font-size: 18px;
    line-height: 26px;
    padding: 0px 30px;
    @media (max-width: 1200px) {
      padding: 0px;
      font-size: 16px;
    }
  }
}
.calltoaction-wrap {
  @media (max-width: 991px) {
    margin-top: 35px;
  }
  .label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-size: 24px;
    margin-bottom: 15px;
  }
  .title {
    font-size: 48px;
    line-height: 55px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    @media (max-width: 1200px) {
      font-size: 40px;
      line-height: 45px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
    }
    span {
      color: #7a32fe;
    }
  }
  p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26px;
  }
}
.calltoaction-area {
  padding-bottom: 120px;
}
// footer-area start
.footer-area {
  position: relative;
  z-index: 1;
  .footer-shape {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
.footer-wrap {
  text-align: center;
  .title {
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    color: #fff;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
    }
  }
  p {
    font-size: 20px;
    line-height: 25px;
    color: #5b5b5b;
    margin-bottom: 45px;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
.footer-coins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px 110px !important;
  @media (max-width: 767px) {
    margin: 30px 0px 50px !important;
  }
  li {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 1200px) {
      margin-right: 15px;
    }
    @media (max-width: 767px) {
      margin-right: 10px;
    }
    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      @media (max-width: 767px) {
        height: 50px;
        width: 50px;
      }
    }
  }
}
.copyright {
  margin-top: 60px;
  text-align: center;
  padding: 35px 0px;
  border-top: 1px solid #5b5b5b;
}
.responisve-trigger {
  cursor: pointer;
  margin-left: 25px;
  @media (max-width: 767px) {
    margin-left: 15px;
  }
  span {
    display: block;
    height: 2px;
    width: 25px;
    background: #fff;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.responsive-menu-wrap {
  @media (max-width: 991px) {
    position: absolute;
    left: 0;
    top: 100%;
    background: #111;
    padding: 25px;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out 0s;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    &.active {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      transform: scaleY(1);
    }
    .mainmenu {
      display: block !important;
      li {
        margin-bottom: 7px;
        a {
          font-size: 16px;
        }
      }
    }
  }
}

// phonenumber-area start
.phonenumber-area {
  padding: 100px 0px 150px;
  position: relative;
  z-index: 1;
  @media (max-width: 767px) {
    padding: 80px 0px;
  }
  .phonenumber-shape {
    position: absolute;
    left: 50%;
    top: 40px;
    z-index: -1;
    transform: translateX(-50%);
    width: 100%;
  }
}
.phonenumber-wrap {
  text-align: center;
  .label {
    font-size: 24px;
    line-height: 30px;
    display: block;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .title {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    @media (max-width: 1200px) {
      font-size: 50px;
      line-height: 55px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
    }
  }
  p {
    font-size: 16px;
    max-width: 80%;
    margin: 0px auto 50px;
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }
}
.phone-subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #fff;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.phonenumber-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    width: 45%;
    margin-bottom: 40px;
    @media (max-width: 991px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
.phonenumber-item {
  display: flex;
  align-items: center;
  img {
    height: 60px;
    margin-right: 25px;
    @media (max-width: 991px) {
      margin-right: 10px;
    }
  }

  .number {
    min-height: 60px;
    padding: 10px 50px;
    background: #3c3c3c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dddddd;
    cursor: pointer;
    width: calc(100% - 110px);
    @media (max-width: 991px) {
      padding: 10px 20px;
      font-size: 14px;
      width: calc(100% - 95px);
    }
    &.active {
      letter-spacing: 0.2em;
      color: #272e5c;
      font-size: 24px;
      background: #fff;
      font-weight: 500;
      @media (max-width: 991px) {
        letter-spacing: 0.1em;
        font-size: 20px;
      }
    }
  }
}
.table-header-wrap {
  background: #292929;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px !important;
  .table-title {
    margin-bottom: 20px;
    .title {
      margin-bottom: 0;
      font-size: 24px;
      color: #fff;
    }
  }
}
.delete-btn {
  background: linear-gradient(90deg, #ff0515 1.19%, #ff656f 100%);
  border-radius: 5px;
  min-width: 130px;
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  &:hover {
    background: linear-gradient(90deg, #ff656f 1.19%, #ff0515 100%);
  }
  img {
    margin-right: 10px;
  }
}
.table-style {
  @media (max-width: 991px) {
    overflow: hidden;
    overflow-x: scroll;
    .tbale-body,
    .table-header-wrap {
      width: 1200px;
    }
  }
}
.table-header {
  display: flex;
  justify-content: space-between;
  margin: 0px -10px !important;
  li {
    width: 15%;
    color: #ff530a;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 10px;
    &.message {
      width: 50%;
      padding-left: 35px;
    }
    &.action {
      width: 6%;
    }
    &.time {
      width: 8%;
    }
    &.no {
      width: 7%;
    }
  }
}
.tbale-body {
  .table-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px !important;
    li {
      width: 15%;
      min-height: 55px;
      display: flex;
      align-items: center;
      padding: 0px 10px;
      font-size: 14px;
      line-height: 18px;

      &.arrow-bg {
        background: #292929;
        &.to {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          color: #fff;
          position: relative;
          &::before {
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
            border-left: 12px solid #292929;
            content: '';
            position: absolute;
            right: -12px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      &.message {
        width: 50%;
        padding-left: 35px;
      }
      &.action {
        width: 5%;
      }
      &.time {
        width: 8%;
        color: #fff;
      }
      &.no {
        width: 7%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        .label {
          min-width: 40px;
          min-height: 27px;
          background: linear-gradient(90deg, #7d29fe 0.01%, #32f1ff 100.01%);
          border: 3px solid #1e1e1e;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 3px 7px;
          border-radius: 20px;
          color: #fff;
        }
      }
    }
  }
}
.freesms-area {
  padding-bottom: 150px;
  @media (max-width: 767px) {
    padding-bottom: 80px;
  }
}
.table-style-two {
  .table-header-wrap {
    .table-title {
      .title {
        color: $themeColor;
      }
    }
    .table-header {
      padding: 0px 30px;
      li {
        width: 12.5%;
        &.number {
          width: 50%;
        }
      }
    }
  }
  .table-items {
    background: #292929;
    padding: 0px 30px;
    border-radius: 5px;
    li {
      width: 12.5%;
      min-height: 55px;
      display: flex;
      align-items: center;
      &.number {
        width: 50%;
      }
    }
  }
}

// contact area start
.contact-area {
  padding: 100px 0px 150px;
  position: relative;
  z-index: 1;
  .contact-shape {
    position: absolute;
    left: 0;
    top: 50px;
    z-index: -1;
    width: 100%;
  }
}
.contact-title {
  text-align: center;
  margin-bottom: 50px;
  .title {
    font-size: 50px;
    line-height: 55px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
    }
  }
  p {
    font-size: 17px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
}
.contact-info {
  li {
    background: #242424;
    border-radius: 5px;
    min-height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    text-align: center;
    margin-bottom: 30px;
    .icon {
      height: 60px;
      width: 60px;
      object-fit: contain;
      margin: 0px auto 20px;
    }
    .name {
      color: #5b5b5b;
      font-size: 16px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.contact-form {
  padding-left: 80px;
}
.input-style {
  margin-bottom: 90px;
  label {
    display: block;
    color: #fff;
    font-size: 14px;
  }
  input,
  textarea {
    width: 100%;
    height: 55px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #363636;
    color: #fff;
    &:focus {
      border-color: $themeColor;
      outline: none;
    }
    &::placeholder {
      text-transform: capitalize;
    }
  }
  textarea {
    height: 120px;
    padding-top: 10px;
  }
}
.text-right {
  text-align: right;
}
.capcha {
  width: 100%;
  height: 50px;
  background: #363636;
  border-radius: 5px;
  border: none;
  padding: 0px 10px;
}
.mb-50 {
  margin-bottom: 50px;
}
.login-area {
  padding: 150px 0px;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  .login-shape {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    z-index: -1;
  }
}
.mb-30 {
  margin-bottom: 30px;
}
.login-header {
  .login-title {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
  }
}
.forget-password {
  display: inline-block;
  color: #fff;
  text-decoration: underline;
  margin-top: 5px;
}
.login-input {
  label {
    font-size: 16px;
    display: block;
    color: #7a30fe;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    height: 55px;
    padding: 5px 20px;
    background: transparent;
    border: 1px solid #363636;
    border-radius: 5px;
    color: #fff;
    &:focus {
      background: #363636;
      &::placeholder {
        color: #fff;
      }
    }
  }
}
.haveaccount {
  text-align: center;
  margin-top: 60px;
  font-size: 14px;
  a {
    display: inline-block;
    color: $themeColor;
    text-decoration: underline;
  }
}
.error-message {
  color: $themeColor;
  display: flex;
  align-items: center;
  min-height: 30px;
  background: rgba(255, 16, 1, 0.05);
  padding: 2px 10px;
  font-weight: 300;
  border-radius: 2px;
  font-size: 14px;
}

// pricing-area start
.pricing-wrap {
  background: #242424;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 35px;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
  @media (max-width: 767px) {
    padding: 30px 20px;
  }
  .subtitle {
    font-size: 30px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  .title {
    font-size: 70px;
    line-height: 89px;
    background: linear-gradient(90deg, #ff4d00 0%, #ffa178 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
    @media (max-width: 767px) {
      font-size: 50px;
      line-height: 55px;
    }
  }
  .pricing-info {
    margin-bottom: 30px !important;
    li {
      display: flex;
      font-size: 18px;
      line-height: 28px;
      color: #646464;
      padding-left: 25px;
      margin-bottom: 10px;
      position: relative;
      @media (max-width: 991px) {
        font-size: 16px;
        margin-bottom: 5px;
      }
      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(90deg, #7d29fe 0.02%, #32f1ff 99.78%);
        border-radius: 2px;
        height: 10px;
        width: 10px;
        content: '';
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .pricing-btn {
    min-height: 50px;
    min-width: 160px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #7d29fe 0.02%, #32f1ff 99.78%);
    border-radius: 5px;
    border: none;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: -23px;
    transform: translateX(-50%);
    &:hover {
      background: linear-gradient(90deg, #32f1ff 0.02%, #7d29fe 99.78%);
    }
    &.checkout-btn {
      background: linear-gradient(90deg, #757575 0.01%, #bbbbbb 100.01%);
      &:hover {
        background: linear-gradient(90deg, #bbbbbb 0.01%, #757575 100.01%);
      }
    }
  }
}
.single-service-area {
  padding-bottom: 130px;
}
.pb-100 {
  padding-bottom: 100px !important;
}
.single-service-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 63px;
  color: #fff;
  margin-bottom: 20px;
  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 35px;
  }
}
.single-service-subtitle {
  color: #807f7f;
  margin-bottom: 0;
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}
.mb-50 {
  margin-bottom: 50px;
}
.single-service-form {
  position: relative;
  input {
    width: 100%;
    background: #363636;
    border-radius: 5px;
    height: 50px;
    padding: 5px 70px 5px 20px;
    border: 1px solid #363636;
    color: #fff;
    &:focus {
      border-color: $themeColor;
    }
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    border: none;
    background: transparent;
    height: 50px;
  }
}
.single-service-wrap {
  border: 1px solid #363636;
  border-radius: 5px;
  text-align: center;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-bottom: 60px;
  position: relative;
  .name {
    color: #a7a6a6;
    font-weight: 500;
    font-size: 18px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  .price {
    border: 1px solid #363636;
    border-radius: 5px;
    min-height: 35px;
    width: 75px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #ff4d00;
    background: #1e1e1e;
    position: absolute;
    left: 50%;
    top: -18px;
    transform: translateX(-50%);
    z-index: 1;
  }
  .buynow-btn {
    min-height: 25px;
    min-width: 80px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    font-size: 13px;
    color: #fff;
    transform: translateX(-50%);
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(90deg, #7d29fe 0.01%, #32f1ff 100.01%);
    background: #1e1e1e;

    &:hover {
      background: linear-gradient(90deg, #7d29fe 0.01%, #32f1ff 100.01%);
    }
  }
}
.trems-content-wrap {
  p {
    font-size: 18px;
    color: #807f7f;
    margin-bottom: 30px;
  }
  ul {
    li {
      font-size: 18px;
      color: #807f7f;
      margin-bottom: 10px;
      line-height: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.faq-wrap {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(90deg, #7d29fe 0.01%, #32f1ff 100.01%);
  padding: 25px 25px 0;
  margin-bottom: 30px;
  .faq-title {
    min-height: 60px;
    font-size: 18px;
    color: #a0a0a0;
    display: flex;
    align-items: center;
    margin: -25px -25px 0px;
    font-weight: 400;
    position: relative;
    margin-bottom: 0;
    transition: all 0.4s ease-in-out 0s;
    padding: 5px 25px;
    &::before {
      content: '+';
      height: 27px;
      width: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(90deg, #7d29fe 0.01%, #32f1ff 100.01%);
      position: absolute;
      right: -14px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      font-size: 30px;
      border-radius: 50%;
    }
    &[aria-expanded='true'] {
      background: transparent;
      color: $themeColor;
      &::before {
        content: '-';
      }
    }
  }

  .collapse {
    padding-bottom: 25px;
    p {
      color: #807f7f;
    }
  }
}
.mt-100 {
  margin-top: 100px;
}
.affiliates-title {
  text-align: center;
  margin-bottom: 40px;
  .title {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 10px;
  }
}
.affiliate-wrap {
  .title {
    font-size: 24px;
    color: #bebebe;
  }
}
.affiliate-video {
  width: 100%;
  min-height: 100%;
  @media (max-width: 991px) {
    margin: 30px 0px;
  }
}
.reload-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}
.color-white {
  color: #fff !important;
}
.reload-card {
  padding: 25px;
  border-radius: 5px;
  background: #292929;
  margin-bottom: 30px;
}

.reload-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  li {
    width: 47%;
    button {
      width: 100%;
      height: 45px;
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border: none;
      @media (max-width: 767px) {
        font-size: 14px;
      }
      &.paypal {
        background: #0070ba;
      }
      &.cryptocurrency {
        background: linear-gradient(90deg, #ff4d00 0%, #ffa178 100%);
      }
    }
  }
}

.plans-modal-wrap {
  @media (min-width: 650px) {
    .modal-dialog {
      max-width: 500px;
    }
  }
  .modal-dialog {
    .modal-content {
      background: #242424;
    }
    .modal-body {
      padding: 30px;
    }
  }
  .close {
    position: absolute;
    right: 5px;
    top: 5px;
    min-height: 30px;
    min-width: 30px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
    transition: all 0.4s ease-in-out 0s;
    &:hover {
      opacity: 0.8;
    }
  }
}

.plans-modal-body {
  .modal-title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .btn-style {
    border-radius: 40px;
  }
}
.plans-modal-price {
  margin-bottom: 30px;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;
    color: #fff;
    letter-spacing: 0.1px;
    &.total {
      border-top: 1px solid #363636;
      margin-top: 20px;
      font-weight: 700;
    }
    span {
      line-height: 18px;
      .calclute {
        display: block;
        font-size: 12px;
        color: $themeColor;
        cursor: pointer;
      }
    }
    strong {
      font-weight: 600;
    }
    input {
      max-width: 150px;
      height: 30px;
      width: 100%;
      background: #363636;
      font-size: 14px;
      color: #fff;
      padding: 0px 10px;
      border: 1px solid #363636;
      border-radius: 3px;
      transition: all 0.4s ease-in-out 0s;
      &:focus {
        border-color: $themeColor;
      }
    }
  }
}
